FRONTEND_PORT=3000
BACKEND_PORT=4000
REDIS_PORT=4001
MARIADB_PORT=4002

MARIADB_URL=mysql://root:root@mariadb:3306/grid
MARIADB_DATABASE=grid
MARIADB_PASSWORD=root
MARIADB_ROOT_PASSWORD=root
MARIADB_USER=root

REDIS_URL=redis://localhost:4001
