.code-secret-container { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-secret {
  color: var(--dark-grey);
  border: 1px solid var(--grey);
  border-radius: 4px;
  padding: 10px 50px;
  width: fit-content;
}

#code > span {
  color: var(--dark-grey);
  font-weight: 600;
}

#live {
  margin-bottom: 10px;
  color: var(--dark-grey);
  font-weight: 600;
}

#red-ball {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #cc5c5c;
}
